#==== Deepgram ====

# Key with at least "member" role
DEEPGRAM_API_KEY=xxxxxxx

DEEPGRAM_STT_LANGUAGE=en-US
# DEEPGRAM_STT_LANGUAGE=multi

DEEPGRAM_STT_MODEL=nova-3
# DEEPGRAM_STT_MODEL=nova-3-medical
# DEEPGRAM_STT_MODEL=nova-2
# DEEPGRAM_STT_MODEL=nova-2-phone-call

DEEPGRAM_STT_PUNCTUATE=true

DEEPGRAM_STT_DIARIZE=false
DEEPGRAM_STT_DIARIZE_SPEAKER_COUNT=2

DEEPGRAM_STT_SMART_FORMAT=false

DEEPGRAM_WS_LISTEN_ENDPOINT_URL=api.deepgram.com/v1/listen

#==== Backtrack audio payload duration, in ms ====
BACKTRACK_PAYLOAD_DURATION=1500

#==== Initial buffered payload from PSTN 2 to WebSocket 1, in ms ====
BUFFERED_PAYLOAD_DURATION=200

#==== Options ====

#-- Record audio --
RECORD_ALL_AUDIO=false